#email {
    border: 3px solid grey;
    border-radius: 3px;
  }
  
  #email:-webkit-autofill {
  border: 3px solid hwb(240 99% 0%);
} 
/* 
  #email:autofill {
    border: 3px solid rgb(0, 0, 255);
  }
   */